# Authentication
# firebase
GOOGLE_ID=
GOOGLE_SECRET=

NEXTAUTH_URL=http://localhost:3000 # exchange this url with your producion url when deployed
NEXTAUTH_SECRET= # To generate nextauth_secret:crypto.randomBytes(64).toString('hex')


# Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

# Stripe Terminal/CLI for dev
STRIPE_SIGNING_SECRET= # To generate locally, cmd for dev: stripe listen --forward-to localhost:3000/api/webhook


# for production-in-vercel-webhook
# STRIPE_SIGNING_SECRET=From stripe console

HOST=http://localhost:3000

FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""

# Add this for devlopment and for production you need to add your orignal url in Authorized JavaScript origins and Authorized redirect URIs in google console
# http://localhost:3000/api/auth/callback/google
# Production example url http://amazon-clone/api/auth/callback/google






